.card{
   
  padding-top: 70px;
  padding-left: 100px;
  height: 100%;
  width: 1015px;;
  border: none;
  background-color: rgb(255, 255, 255);
  margin-left: none;
  margin-right: none;
}
.tabl{
  width:auto; 
  border: none;
  margin-top: 2px;
  margin-left: 100px;
  font-size: 2rem;
  background-color: rgb(240, 234, 234);
}
  .td{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tr{
    margin-top: 100px;
    margin-bottom: 100px;
  }
.out{
  background-color: rgb(247, 240, 240);
  border-bottom: none;
  border-right: none;
  border-top: none;
 border-left: none;
}

.c1{
  padding-left: 230px;
}

.l2{
  padding-left: 230px;
}

.lab{
  margin-left: 10px;
  text-decoration: underline,

}

.prf{
  font-size: 2.5rem;
  margin-top: 30px;
  margin-left: 90px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 26px;
}

form{
  margin-bottom: 20px;
}

.fo{
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 50px;
}

.line{
  width:70%;
  border-radius: 5px;
  margin-left: 75px;
  border: 2px solid #009b72;
}
.btn{
  display: block;
  margin-left: 40%;
  background-color:#009b72 ;
  font-family: 'Playfair Display', serif;
  color: rgb(230, 228, 228);
  border-radius: 20px ;
  padding-left: 30px;
  padding-right: 30px;

}
.btn:hover{
  background-color: #10b489 ;
  cursor: pointer;
  box-shadow: 0 0 5px #10b489,
              0 0 20px #10b489,        
              0 0 60px #10b489,
              0 0 150px #10b489                ;
}
