<body>

    <h1>Les demandes de congés:</h1>

    <h2>Trier par:  <input required="" type="Date" name="Date" class="zone" id="dateD"></h2>

    <div class="main">
        
        <input type="text" name="box" placeholder="Recherche">
        <div class="btn">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
    </div>    

<div class="board">
    <table width="100%">
        <thead>
            <tr >
                <td>Nom</td>
                <td>Date</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td class="people">
                    <img src="assets/avatarHOm1.png" alt="">
                    <div class="peple-de">
                        <h5>nom prenom</h5>
                        <p>exemple@gmail.com</p>
                    </div>
                

                <td class="Date"><p><input required="" type="Date" name="Date" class="zone" id="dateD" ></p></td>
                
                <td class="Consulter"><a routerLink="/consulterdemande">Consulter</a></td>
             </tr>
             <tr > 
                <td class="people">
                    <img src="assets/avatarFa2.png" alt="">
                    <div class="peple-de">
                        <h5>nom prenom</h5>
                        <p>exemple@gmail.com</p>
                    </div>
            

                <td class="Date"><p><input required="" type="Date" name="Date" class="zone" id="dateD" ></p></td>
                
                <td class="Consulter"><a  href="#">Consulter</a></td>
             </tr>
             <tr >
                <td class="people">
                    <img src="assets/AvatarFa1.png" alt="">
                    <div class="peple-de">
                        <h5>nom prenom</h5>
                        <p>exemple@gmail.com</p>
                    </div>
                </td>
               

                <td class="Date"><p><input required="" type="Date" name="Date" class="zone" id="dateD" ></p></td>
                
                <td class="Consulter"><a  href="#">Consulter</a></td>
             </tr>
             <tr> 
                <td class="people">
                    <img src="assets/avatarHo2.png" alt="">
                    <div class="peple-de">
                        <h5>nom prenom</h5>
                        <p>exemple@gmail.com</p>
                    </div>
                

                <td class="Date"><p><input required="" type="Date" name="Date" class="zone" id="dateD" ></p></td>
                
                <td class="Consulter"><a  href="#">Consulter</a></td>
             </tr>
             <tr>
                <td class="people">
                    <img src="assets/avatarFa2.png" alt="">
                    <div class="peple-de">
                        <h5>nom prenom</h5>
                        <p>exemple@gmail.com</p>
                    </div>
                </td>
                

                <td class="Date"><p><input required="" type="Date" name="Date" class="zone" id="dateD" ></p></td>
                
                <td class="Consulter"><a  href="#">Consulter</a></td>
             </tr>

        </tbody>

    </table>

</div>
</body>
