<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <h1 class="hh">ORMVAO</h1>
  </mat-toolbar>
  
  <mat-sidenav-container>
  
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
  
      <img class="avatar mat-elevation-z8" src="assets/img_avatar2.png" />
  
      <h4 class="name">Nom Prenom</h4>
      <p class="designation">fonction</p>

  
      <mat-divider></mat-divider>
  
  
      <button mat-button class="menu-button" routerLink="">
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>

      <button mat-button class="menu-button" routerLink="/agents">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Les agents</span>
      </button>
  
      <button mat-button class="menu-button" routerLink="/ajout">
        <mat-icon>person_add</mat-icon>
        <span>Ajouter agent</span>
      </button>

      <button mat-button class="menu-button" routerLink="/demandes">
        <mat-icon>library_books</mat-icon>
        <span>Les demandes</span>
      </button>
  
      <button mat-button class="menu-button" routerLink="/avis">
        <mat-icon>library_books</mat-icon>
        <span>Avis de retour</span>
      </button>
  
      <button mat-button class="menu-button" routerLink="/decisions">
        <mat-icon>subject</mat-icon>
        <span>Les decisions</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/quitter">
        <mat-icon>exit_to_app</mat-icon>
        <span>quitter</span>
      </button>
  
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content" class="content mat-elevation-z4">
            </div>
 </mat-sidenav-content>
</mat-sidenav-container>
