<div class="tabl">
    <form > 

      <table class="tab">
      <tr class="tr">
        <label for="matr" class="lab">Matricule :</label><br>
        <td class="c1"><label for="l3" class="lab">Adresse :</label><br> </td>
      </tr>
     <tr>
     <td class="td"><input type="text" id="matr" name="matr" class="out"><br> </td>
     <td class="l2"><input type="text" id="l3" name="l3" class="out"><br> </td>
     </tr>

     <tr class="tr">
       <td><label for="fname" class="lab">Nom :</label><br></td> 
       <td class="c1" ><label for="l4" class="lab">Grade :</label><br> </td>
     </tr>

     <tr>
     <td class="td"><input type="text" id="fname" name="fname" class="out"><br> </td>
     <td class="l2"><input type="text" id="l4" name="l4" class="out"><br> </td>
     </tr>

     <tr class="tr">
       <td><label for="prnm" class="lab">Prénom :</label><br> </td>
       <td class="c1" ><label for="l5" class="lab">Fonction :</label><br> </td>
     </tr>
     
     <tr>
     <td class="td"><input type="text" id="prnm" name="prnm"  class="out"><br> </td>
     <td class="l2"><input type="text" id="l5" name="l5" class="out"><br> </td>
     </tr>

     <tr class="tr">
       <td><label for="l1" class="lab">Email :</label><br> </td>
       <td class="c1"><label for="l6" class="lab">Service :</label><br> </td>
     </tr>

     <tr>
       <td class="td"><input type="text" id="l1" name="l1" class="out"><br> </td>
       <td class="l2"><input type="text" id="l6" name="l6" class="out"><br> </td>
     </tr>


     <tr class="tr">
       <td><label for="l2" class="lab">Tel :</label><br></td>
       <td class="c1"><label for="l7" class="lab">Disponibilité :</label><br> </td>
     </tr>


     <tr>
       <td class="td"><input type="text" id="l2" name="l2" class="out"><br> </td>
       <td class="l2"><input type="text" id="l7" name="l7" class="out"><br> </td>
     </tr>
     
     
     <tr class="tr"><label for="l8" class="lab">Solde :</label><br> </tr>
     <td class="td"><input type="text" id="l8" name="l8" class="out"><br> </td>
   </table>
    </form>
    
    </div>

