
  <h1 class="av"> Les avis de retour:</h1> 
<br>
<div class="search-icon">
  <input type="search" placeholder="Chercher.." class="input">
  <button type="submit" class="button "><i class="fa-solid fa-magnifying-glass"></i></button>
  

</div>
<div class="board">
  

 
  <table width="100%">
      
      <tbody>
          <tr >
              <td class="tdd">
                  <div class="peple-de">
                      nom prenom

                  </div>
              </td>

              <td class="tdd">
                <div class="peple-de">
                    service

                </div>
            </td>

              <td class="tdd">
                <div>
                  fonction
                </div>  
              </td>

              <td class="tdd"><div> date de retour</div></td>
              
            <td class="tdd"><button class="btn" routerLink="/avi"> consulter </button></td>
           </tr>
      </tbody>

  </table>

</div>







