<div class="tab">
  <h1 class="av"> Les avis de retour:</h1> 
  
    
       <table class="no-spacing" cellspacing="0" class="leau">
       <tr>
         <td class="extr">
           <div>
             nom prénom
           </div>
         </td>
        
         <td>
          <div>
            service
          </div>
        </td>

        <td>
          <div>
            fonction
          </div>
        </td>

        <td>
          <div>
            date retour
          </div>
        </td>

        <td>
          <div>
            <button routerLink="/avi"> consulter </button>
          </div>
        </td>

       </tr>

       <tr>
        <td class="extr">
          <div>
            nom prénom
          </div>
        </td>
       
        <td>
         <div>
           service
         </div>
       </td>

       <td>
         <div>
           fonction
         </div>
       </td>

       <td>
         <div>
           date retour
         </div>
       </td>

       <td>
        <div>
          <button> consulter </button>
        </div>
      </td>
      </tr>


      <tr>
        <td class="extr">
          <div>
            nom prénom
          </div>
        </td>
       
        <td>
         <div>
           service
         </div>
       </td>

       <td>
         <div>
           fonction
         </div>
       </td>

       <td>
         <div>
           date retour
         </div>
       </td>

       <td>
        <div>
          <button> consulter </button>
        </div>
      </td>
      </tr>

      <tr>
        <td class="extr">
          <div>
            nom prénom
          </div>
        </td>
       
        <td>
         <div>
           service
         </div>
       </td>

       <td>
         <div>
           fonction
         </div>
       </td>

       <td>
         <div>
           date retour
         </div>
       </td>

       <td>
        <div>
          <button> consulter </button>
        </div>
      </td>
      </tr>
     </table>
    </div>





