
  <h1 class="av"> Les decisions de congé:</h1> 

<div class="search-icon">
  <input type="search" placeholder="Chercher.." class="input">
  <button type="submit" class="button "><i class="fa-solid fa-magnifying-glass"></i></button>
  

</div>

<div class="board">
   
    
    <table width="100%">
        
        <tbody>
            <tr >
                <td class="tdd">
                    <div class="peple-de">
                        Num decision

                    </div>
                </td>

                <td class="tdd">
                  <div class="peple-de">
                      nom prenom

                  </div>
              </td>

                <td class="tdd">
                  <div>
                    service 
                  </div>  
                </td>

                <td class="tdd"><div> fonction</div></td>
                
              <td class="tdd"><button class="btn" routerLink="/consulterdec"> consulter </button></td>
             </tr>
        </tbody>

    </table>
    
</div>
<button class="btn1" routerLink="/decision">ajouter decision</button>

