<h1>Nouvelle demande</h1>
<div class="formulaire">


    <form action="#" method="post">
        <label for="matricule">Matricule :&nbsp;</label>
        <input required=""  type="text" name="matricule" class="zone" id="matricule"  readonly="readonly">
        &nbsp;&nbsp;&nbsp;&nbsp;

        <label for="prenom">Prénom : &nbsp;</label>
        <input required="" type="text" name="prenom" class="zone" id="prenom"  readonly="readonly" >
        <br>

        <label for="nom">Nom :&nbsp; &nbsp; &nbsp; &nbsp;</label>
        <input required="" type="text" name="nom" class="zone" id="nom"  readonly="readonly" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        

        <label for="fonction">Fonction: &nbsp;</label>
        <input  required="" type="text" name="fonction" class="zone" id="fonction"  readonly="readonly" >
        <br>

        <label for="Nj"> Nombre de jours:</label>
        <input type="number" name="nombre de jours"  class="zone1" id="Nj"  readonly="readonly" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

        <label for="grade"> Grade: &nbsp;&nbsp;&nbsp; &nbsp;</label>
        <input type="text" name="grade"  class="zone" id="grade" />
        <br>

        <label for="dateD">Date de demande:&nbsp;</label>
        <input required="" type="Date" name="Date" class="zone1" id="dateD"  readonly="readonly" >
        &nbsp;&nbsp;&nbsp;&nbsp;
        

        <label for="email">Email :&nbsp; &nbsp;&nbsp;&nbsp;</label>
        <input required=""  type="email" name="email" class="zone" id="email"  readonly="readonly" >
        <br>

        <label for="Ddp">date de départ:</label>
        <input  required="" type="date" name="datedepart" class="zone1" id="Ddp"  readonly="readonly" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <label for="telephone">Téléphone: &nbsp;</label>
        <input required="" type="text" name="telephone" class="zone" id="telephone"  readonly="readonly" >
        <br>

        <label for="Dr">date de retour:</label>
        <input  required="" type="date" name="dateretour" class="zone1" id="Dr"  readonly="readonly" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
        <label for="TC">Type congé :</label>
        <input required="" type="text" name="typeconge" class="zone" id="TC"  readonly="readonly" >

    <br>
    <label for="Interimaire"> Interimaire : </label>
        <input type="text" name="Interimaire" required="" class="wd" id="Interimaire" readonly="readonly" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



    <br>

        <label for="adresse"> Adresse : &nbsp;&nbsp;&nbsp; </label>
        <input type="text" name="Adresse" required="" class="wd" id="adresse"  readonly="readonly" />
        <br>
        <button class="Valider"><i class="fa-solid fa-check"></i>&nbsp; Valider </button>
        
        
        
    </form>
    </div>