<div class="formulaire">
    <h1> Décision de congé</h1>
    <form action="#" method="post">
        <label for="matricule">Matricule :&nbsp;</label>
        <input required=""  type="text" name="matricule" class="zone" id="matricule" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        

        <label for="prenom">Prénom : &nbsp;</label>
        <input required="" type="text" name="prenom" class="zone" id="prenom" ><br>

        <label for="nom">Nom :&nbsp; &nbsp; &nbsp; &nbsp;</label>
        <input required="" type="text" name="nom" class="zone" id="nom" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       

        <label for="fonction">Fonction: &nbsp;</label>
        <input  required="" type="text" name="fonction" class="zone" id="fonction" ><br>

        <label for="Nj"> Nombre de jours:</label>
        <input type="number" name="nombre de jours"  class="zone1" id="Nj" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
        <label for="grade"> Grade: </label>&nbsp;
        <input type="text" name="grade"  class="zone" id="grade" /><br>

        <label for="dateD">Date de demande:&nbsp;</label>
        <input required="" type="Date" name="Date" class="zone1" id="dateD" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        

        <label for="email">Email :&nbsp;</label>
        <input required=""  type="email" name="email" class="zone" id="email" ><br>

        <label for="Ddp">date de départ:</label>
        <input  required="" type="date" name="datedepart" class="zone2" id="Ddp" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
        

        <label for="telephone">Téléphone : &nbsp;</label>
        <input required="" type="text" name="telephone" class="zone" id="telephone" ><br>

        <label for="Dr">date de retour:</label>
        <input  required="" type="date" name="dateretour" class="zone2" id="Dr" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
        <label for="TC">Type congé :</label>
        <input required="" type="text" name="typeconge" class="zone" id="TC" ><br>

        <label for="Interimaire"> Interimaire : </label>
        <input type="text" name="Interimaire" required="" class="wd" class="zone" id="Interimaire" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <label for="Etat">Etat :</label>
        <input required="" type="text" name="Etat" class="zone" id="Etat" ><br>

        <label for="adresse"> Adresse : </label>
        <input type="text" name="Adresse" required="" class="wd" id="adresse" />
        
        

       
        <br>
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; 
        
        
        
    </form>

</div>
