
<div class="container-fluid">
        <div class="container">
            <div class="formBox">
                <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>Ajouter Agent</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox ">
                                    <label for="Ddp">Nom :</label>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Prénom :</label>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Matricule :</label>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Téléphone :</label>
                                    <input type="text" name="" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Adresse :</label>
                                    <input type="text" name="" class="input">
                                </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <label for="Ddp">Grade :</label>
                                        <input type="text" name="" class="input">
                                    </div>
                                </div>
                                </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Fonction :</label>
                                    <input type="text" name="" class="input">        
                                </div>
                                </div>
                                 
                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <label for="Ddp">Service :</label>
                                        <input type="text" name="" class="input">
                                        
                                    </div>
                                 </div>
                                 </div>    

                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" name="" class="button" value="Ajouter">
                            </div>
                        </div>
            
                </form>
            </div>
        </div>
    </div>
